.characterCard {
    background-color: #252525;
    margin-top: 50px;
    padding: 15px;
    width: 25%;
    min-width: 400px;



    border-radius: 120px 10px;
    border: 1px black solid;

    max-width: 600px;
    display: flex;
    gap: 24px;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid #252525;
    box-shadow: 0 0 10px #bfde42;
}

.name {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    font-family: "Saira", sans-serif;
}

.gender {
    color: #bdbdbd;
    font-weight: 500;
    font-family: "Saira", sans-serif;
}