.searchCharacters {
    min-width: 250px;
    min-height: 40px;

    margin-top: 130px;
    padding: 0 10px 0 10px;

    font-size: 20px;
    border: 1px gray solid;
    border-radius: 6px;
    outline: 2px #bfde42 solid;
    color: white;
    background-color: #252525;
    box-shadow: 0 0 6px #42b4ca inset;
}

.searchCharacters:focus {
    padding: 0 10px 0 10px;
    border: 1px gray solid;
    outline: 2px #bfde42 solid;
}